#game {
	width: 440px;
	height: 440px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.game-square {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
}
.game-square > div {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	transition: 400ms;
}
.game-square > div > div:first-child {
	background: #eee;
}
.game-square > div > div {
	height: 50%;
}
.flip > div {
	top: -100%;
}

.square-0 {
	background-color: aqua;
}

.square-1 {
	background-color: bisque;
}

.square-2 {
	background-color: blue;
}

.square-3 {
	background-color: blueviolet;
}

.square-4 {
	background-color: brown;
}

.square-5 {
	background-color: cadetblue;
}

.square-6 {
	background-color: chartreuse;
}

.square-7 {
	background-color: chocolate;
}

.square-8 {
	background-color: coral;
}

.square-9 {
	background-color: cornflowerblue;
}
